#login-box {
    display: block;
    position: absolute;
    top: 50px;
    width: 100%;
    max-width: 560px;
    overflow: hidden;
}

#login-box form {
    margin-top: 20px;
    border: 1px #ccc solid;
    padding: 20px 30px;
    background-color: #fff;
}

#login-box input[type=text], #login-box input[type=password] {
    padding: 12px 10px;
}

#login-box h3 {
    background: #16456f;
    color: #fff;
    margin: 20px -30px;
    padding: 10px 40px;
    box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 559px) {
    #login-box {
        left: 0px;
        width: 100%;
        border-right: none;
        border-left: none;
    }
}

@media screen and (min-width: 560px) {
    #login-box {
        left: calc((100% - 560px) / 2);
        width: 560px;
    }
}